{% extends 'base.html' %} <!-- Extiende de la plantilla base.html -->
{% block content %} <!-- Define un bloque de contenido -->

<div class="container">
    <!--<h1>Welcome to Home Page, <span style="color:green">{{name}}</span></h1>
    <h2>This is the full home page</h2>-->
    <form action="">
        <div class="mb-3"> <!-- Agrega espacio inferior de 3 unidades --> 
            <label for="searchMovie" class="form-label"> <!-- Asocia un texto descriptivo con un campo de entrada en un formulario -->
                Search for Movie:
            </label>
            <input type="text" class="form-control" name="searchMovie"/>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <p>Searching for {{searchTerm}}</p>
    <div class="row row-cols-1 row-cols-md-3 g-4"> <!-- Crea una fila de columnas, donde cada columna tiene un ancho de 1 unidad en dispositivos pequeños y 3 unidades en dispositivos medianos -->
        {% for movie in movies %}
        <div v-for="movie in movies" class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{movie.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>
                    <p class="card-text">{{movie.description}}.</p>
                    <p class="card-text">Genre: {{movie.genre}}</p>
                    <p class="card-text">Year: {{movie.year}}</p>
                    {% if movie.url %}
                        <a href="{{movie.url}}" class="btn btn-primary">Movie Link</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for movie in movies %}
        <div v-for="movie in movies" class="col">
            <div class="card">
                <img class="crad-image-top" src="{{movie.image.url}}"/>
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{movie.title}}</h5>
                    <p class="card-text">{{movie.description}}</p>
                    {% if movie.url %}
                        <a href="{{movie.url}}" class="btn btn-primary">
                            Movie Link
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div> -->
    <br/>
    <br/>
    <h2>Join our mailing list:</h2>
    <form action="{% url 'signup' %}">
        <div class="mb-3">
            <label for="email" class="form-label">Enter your email: </label>
            <input type="email" class="form-control" name="email"/>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
{% endblock %} <!-- Fin del bloque de contenido -->